<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <div v-if="seen1">
      <div>a</div>
      <div>b</div>
      <div>c</div>
    </div>
    <div v-if="seen2">
      <div>d</div>
      <div>e</div>
    </div>
    <div v-if="seen3">
      <div>f</div>
      <div>g</div>
    </div>

    <button @click="change">버튼</button>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>

  <script>
    new Vue({
      el : "#app",
      data(){
        return {
          seen1: true,
          seen2: false,
          seen3: false,
        }
      },
      methods:{
        change() {
          if(this.seen1){
            this.seen1 = false
            this.seen2 = true
            this.seen3 = false
          }
          else if(this.seen2){
            this.seen1 = false
            this.seen2 = false
            this.seen3 = true
          } else {
            this.seen1 = true
            this.seen2 = false
            this.seen3 = false
          }


        }
      }
    })
  </script>

</body>
</html>