.header-nav{

    display: flex;
    justify-content: space-between;

}

.header-ul{

    display: flex;
    list-style:none;
    padding: 0px;
    align-items: center;
    
}

.header-ul > li{

    margin-left: 10px;

}

.main-container{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.image-logo{

    width: 272px;

}

.search-icon{

    width: 17px;
    position: absolute;
    left: 10px;
    top: 15px;
}

.search-container{

    position: relative;
    margin-top: 50px;
    width: 550px;
    
}
.search-input{
    height: 44px;
    border-radius: 33px;
    padding-left: 40px;
    border: 1px solid #dddddd;
    width: 100%;
    
    
}

.img_icon_wrapper{
    
    background-color: #f2f3f5;
    border-radius: 50%;   
    width: 60px;
    height: 60px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_icon_wrapper>img{

    width: 50%;
    
}

.bookbark-item
{
    width:112px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 30px;
}

.bookbark-wrapper{
    margin-top: 30px;
    display:flex;
    flex-wrap: wrap;
    width: 600px;
    justify-content: center;
}

.text{

    font-size: 15px;
    
}

a{
    color: inherit;
}

.bookbark-item:hover{
    opacity: 0.5;
    cursor: pointer;
}
.toggle-button{
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius:5px;
    padding: 5px 7px;
    cursor: pointer;
}

.toggle-button-darkmode{

background-color: white;
color: black;

}
.body-background-darkmode{

    background-color: black;

}
.img_icon_wrapper-darkmode{
    background-color: white;
}
.text-darkmode{
    color: white;
}

