<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>log project</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
  <h1>log project</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">message</th>
        <th scope="col">level</th>
        <th scope="col">timestamp</th>
      </tr>
    </thead>
    <tbody class="log-table-body">
      <!-- <tr>
        <th scope="row">0</th>
        <td>
          <div class="alert alert-primary" role="alert">
            메시지0
          </div>
        </td>
        <td>레벨0</td>
        <td>타임스탬프0</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>
          <div class="alert alert-primary" role="alert">
            메시지1
          </div>
        </td>
        <td>레벨1</td>
        <td>타임스탬프1</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>
          <div class="alert alert-primary" role="alert">
            메시지2
          </div>
        </td>
        <td>레벨2</td>
        <td>타임스탬프2</td>
      </tr> -->
    </tbody>
  </table>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="./index.js"></script>
</body>
</html>